@import './partials/colors';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
}

html,
body {
    height: 100%;
}

body {
    color: #000;
    line-height: 1.6;
    position: relative;
    font-family: sans-serif;
    overflow: auto;
}


// .lines {
//     position: fixed;
//     /* Change to fixed if you want it to cover the entire viewport and not scroll with content */
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     /* Ensure it stretches to the bottom */
//     width: 100vw;
//     /* Cover the full width of the viewport */
//     display: flex;
//     justify-content: space-between;
//     z-index: -1;
//     /* Sends it to the back if overlapping issues occur */
// }
// .line {
//     position: relative;
//     width: 1px;
//     height: 100%;
//     background: rgba(0, 0, 0, 0.2);
//     overflow: hidden;
// }

// .line::after {
//     height: 100%;
//     content: '';
//     display: block;
//     position: absolute;
//     height: 15vh;
//     width: 100%;
//     top: -50%;
//     left: 0;
//     background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
//     animation: drop 6s 0s infinite;
//     animation-fill-mode: forwards;
//     animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
// }

// /* Customize the spacing for 11 lines */
// .line:nth-child(1)::after {
//     animation-delay: 1s;
// }

// .line:nth-child(2)::after {
//     animation-delay: 2.2s;
// }

// .line:nth-child(3)::after {
//     animation-delay: 2s;
// }

// .line:nth-child(4)::after {
//     animation-delay: 1.6s;
// }

// .line:nth-child(5)::after {
//     animation-delay: 2.6s;
// }

// .line:nth-child(6)::after {
//     animation-delay: 1.16s;
// }

// .line:nth-child(7)::after {
//     animation-delay: 2.2s;
// }

// .line:nth-child(8)::after {
//     animation-delay: 2.4s;
// }

// .line:nth-child(9)::after {
//     animation-delay: 1.6s;
// }

// .line:nth-child(10)::after {
//     animation-delay: 1.2s;
// }

// .line:nth-child(11)::after {
//     animation-delay: 3s;
// }

// @keyframes drop {
//     0% {
//         top: -50%;
//     }

//     100% {
//         top: 110%;
//     }
// }


.header {
    padding-top: 10vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.box {
    flex: 1 1 45%;
    padding: 20px;
    text-align: center;
    margin: 5px;
    h1{
        font-size: 15vh;
        font-weight: 700;
        opacity: 85%;
        margin: 0 5vw 0 5vw;
        line-height: .8;
    }
} 

/* Adjust the first box */
.box:nth-child(1) {
        height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* Align content to the start (top) */
    align-items: flex-start;
    /* Align content to the start (left) */
}

.box:nth-child(2) {
        height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* Align content to the start (top) */
    align-items: flex-start;
    /* Align content to the start (left) */
}
.box:nth-child(3) {
        height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* Align content to the start (top) */
    align-items: flex-start;
    /* Align content to the start (left) */
}
/* Adjust the last box */
.box:nth-child(4) {
        height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* Align content to the end (bottom) */
    align-items: flex-end;
    /* Align content to the end (right) */
}


/* Media query for smaller devices */
@media (max-width: 600px) {
    .header {
        flex-direction: column;
        /* Stack items vertically */
        align-items: flex-start;
        /* Align items to the left */
    }

    .box {
        width: 100%;
        /* Full width */
        margin: 5px 0;
        /* Adjust margin */
    }
}

.flex-container {
    margin-top: 10vh;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.content-container {
    text-align: left;
    /* Align text to the left */
    flex: 1;
    padding-right: 20px;
    margin-left: 5vh;
}

.content-container h2 {
    font-size: 7vh;
}

.content-container p {
    font-family: 'Inter';
    font-size: 3vh;
}

.image-container {
    flex: 1;
}

.image-container img {
    max-width: 100%;
    /* Ensure image does not exceed its container */
    height: auto;
}

  @media screen and (max-width: 650px) {
.navbar{
    width:100%
}
.box h1{
    font-size: 12vh;
}
  }

        @media screen and (max-width: 450px) {
    
            .box h1 {
                font-size: 10vh;
            }
        }

                 @media screen and (max-width: 380px) {
        
                     .box h1 {
                         font-size: 8vh;
                     }
                 }