@import './partials/colors';

body {
    font-family: "Inter", sans-serif;
    margin: 0;
    /* Reset default margin */
}
.navbar {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 32px;
    /* Increased height of hamburger icon */
    width: 32px;
    /* Increased width of hamburger icon */
    cursor: pointer;
    margin-right: 16px;
    /* Increased margin for spacing */
}

.close-btn {
    margin-right: 16px;
    /* Increased margin for spacing */
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 32px;
    /* Increased font size for close button */
    cursor: pointer;
    color: $text-color;
    z-index: 101;
    /* Ensure it's above other content */
}

.hamburger .bar {
    display: block;
    height: 4px;
    /* Increased height of hamburger bars */
    width: 100%;
    background-color: $text-color;
    /* Use the text color for hamburger bars */
    border-radius: 1px;
}

.hamburger .bar.red {
    background-color: $main-color !important;
    /* Override background color for specific bar */
}

.off-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $bg-color;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    /* Makes sure padding doesn't add to width/height */
    z-index: 100;
}

.off-canvas ul {
    list-style-type: none;
    padding: 0;
}

.off-canvas ul li a {
    font-weight: bold;
    font-size: 28px;
    /* Increased font size for menu items */
    padding: 12px;
    /* Increased padding for menu items */
    text-decoration: none;
    color: $text-color;
    font-family: "Inter", sans-serif;
}