@import './partials/colors';
  ul {
      list-style: none;
  }

 .navbar a {
      text-decoration: none;
      color: $text-color;
      font-size: 4vh;
  }

  /* navbar */
  .navbar {
      padding: 3vh 5vh;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 40px;
      min-height: 70px;
  }


  /* logo  */
  .logo {
      font-size: 6vh !important;
      font-family: 'Inter';
      font-weight: 900;
  }


  /* ul  */
  .navMenu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 60px;
  }

  /* media queries */

  @media screen and (max-width: 780px) {

      /* hamburger */
      .hamburger {
          display: block;
          cursor: pointer;
      }

      .bar {
          background-color: #120f0b;
          width: 20px;
          height: 3px;
          display: block;
          margin: 5px;
          -webkit-transition: 0.3s ease-in-out;
          transition: 0.3s ease-in-out;
      }

      /* adding active class to the bars  */
      .hamburger.active .bar:nth-child(2) {
          opacity: 0;
      }

      .hamburger.active .bar:nth-child(1) {
          transform: translateY(8px) rotate(45deg);
      }

      .hamburger.active .bar:nth-child(3) {
          transform: translateY(-8px) rotate(-45deg);
      }


      /* navMenu */

      .navMenu {
          position: absolute;
        //   flex-direction: column;
          gap: 0;
          top: 70px;
          left: -100%;
          text-align: start;
          width: 100%;
          transition: 0.7s ease-in-out;
          padding: 10px;
      }

          .navMenu.active {
              background-color: #ddd3c7a3;
              /* White color with 50% opacity */
              left: 0;
              width: 100%;
              z-index: 2;
          }

      .navMenu li {
          margin: 16px 0;
          font-weight: 800;
      }
  }


  .App{
    z-index: 3;
  }

  /* Default styles */
  .flex-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 60px;
  }

  .content-container {
      /* Default styles for content container */
      /* Adjust as needed */
  }

  /* Media queries */
  @media screen and (max-width: 780px) {
.header-text{
    text-align: center;
}
      /* Adjust .flex-container for smaller screens */
      .flex-container {
          flex-direction: column;
          /* Stack items vertically */
          gap: 20px;
          /* Reduce gap between items */
      }

      /* Adjust .content-container for smaller screens */
      .content-container {
          padding: 0 20px;
          /* Add padding to the content container */
          text-align: center;
          /* Center align text */
      }
  }