@import './partials/colors';
  ul {
      list-style: none;
  }

 .navbar a {
      text-decoration: none;
      color: $text-color;
      font-size: 4vh;
  }

  /* navbar */
  .navbar {
      padding: 3vh 5vh;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 40px;
      min-height: 70px;
  }


  /* logo  */
  .logo {
      font-size: 6vh !important;
      font-family: 'Inter';
      font-weight: 900;
  }


  /* ul  */
  .navMenu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 60px;
  }

  /* media queries */

  @media screen and (max-width: 780px) {

      /* hamburger */
      .hamburger {
          display: block;
          cursor: pointer;
      }

      .bar {
          background-color: #120f0b;
          width: 20px;
          height: 3px;
          display: block;
          margin: 5px;
          -webkit-transition: 0.3s ease-in-out;
          transition: 0.3s ease-in-out;
      }

      /* adding active class to the bars  */
      .hamburger.active .bar:nth-child(2) {
          opacity: 0;
      }

      .hamburger.active .bar:nth-child(1) {
          transform: translateY(8px) rotate(45deg);
      }

      .hamburger.active .bar:nth-child(3) {
          transform: translateY(-8px) rotate(-45deg);
      }


      /* navMenu */

      .navMenu {
          position: absolute;
        //   flex-direction: column;
          gap: 0;
          top: 70px;
          left: -100%;
          text-align: start;
          width: 100%;
          transition: 0.7s ease-in-out;
          padding: 10px;
      }

      .navMenu.active {
          left: 0;
            backdrop-filter: blur(20px);
                -webkit-backdrop-filter: blur(20px);
                width: 100%;
                z-index: 2;
      }

      .navMenu li {
          margin: 16px 0;
          font-weight: 800;
      }
  }


  .App{
    z-index: 3;
  }